#Body1{
	text-align:center;
	background-image: url("../img/Galaxy-Background.jpg");
}
#Body2{
	text-align:center;
	background-image: url("../img/Galaxy-Background.jpg");
	position: relative;
}
#title{
	color:white;
}
#header{
	color:white;
}
.question{
	background-color:grey;
	margin:10px;
	border-style: double;
	border-width: 10px;
	position:relative;
}
#pregunta1{
	border-style:solid;
	border-color:midnightblue;
	width:50%;
	position:relative;
	left:25%;
	background-color:grey;
}
#SUButton{
	color:white;
}