#Body1{
	text-align:center;
	background-image: url("../img/Galaxy-Background.jpg");
}
#Body2{
	text-align:center;
	background-image: url("../img/Galaxy-Background.jpg");
	position: relative;
}
#logo{
	width:35%;
}
#title1{
	position:relative;
	background-color:grey;
	border-style: double;
	border-width: 10px;
	font-size: 50px;
	margin: 0px;
	margin-left: 130px;
	margin-right: 130px;
}
#title2{
	position:relative;
	background-color:grey;
	border-style: double;
	border-width: 10px;
}
#expl{
	color:white;
}
#title{
	color:white;
}
#welcome{
	font-size: 30px;
	border-style: solid;
	background-color: grey;
}
.question{
	background-color:grey;
	margin:10px;
	border-style: double;
	border-width: 10px;
	position:relative;
}
#SUButton{
	background-color: grey;
	border-style: double;
	margin-left: 100px;
	margin-right: 100px;
}
#submitButton{
	color:red;
	font-size: 25px;
	width: 250px;
	height: 50px;
}
#welcomesign{
	border-width:10px;
	border-style:solid;
	border-color:midnightblue;
	position:relative;
	background-color:grey;
	font-size:35px;
	margin:30px;
}
#goto{
	font-size: 25px;
	width: 250px;
	height: 50px;
	margin:20px;
}