#Body1{
	text-align:center;
	background-image: url("../img/Galaxy-Background.jpg");
}
#Body2{
	text-align:center;
	background-image: url("../img/Galaxy-Background.jpg");
	position: relative;
	background-position: center;
}
#title{
	color:white;
}
#title1{
	position:relative;
	background-color:grey;
	border-style: double;
	border-width: 10px;
	font-size: 25px;
	margin: 0px;
	margin-left: 50px;
	margin-right: 50px;
}
#title2{
	color:white;
	position:relative;
	background-color:grey;
	border-style: double;
	border-width: 10px;
}
.question{
	background-color:grey;
	margin:10px;
	border-style: double;
	border-width: 10px;
}
#SUButton{
	background-color: grey;
	border-style: double;
	margin-left: 50px;
	margin-right: 50px;
}
#submitButton{
	color:red;
	font-size: 25px;
	width: 125px;
	height: 50px;
}